@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 26 92 255;
    --color-secondary: 125 51 255;
    --color-success: 70 201 58;
    --color-warning: 255 130 0;
    --color-danger: 242 19 93;
    --color-dark: 30 30 30;
    --color-info: 59 222 200;
    --color-light: 255 255 255;
  }

}